*
{
    margin: 0px;
}

body
{
    background-image: url(abc.jpg);
}

.container
{
    background-color: greenyellow;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.nav-header
{
    background-color: #ffe006;
}
.related-fashion
{
    background-color: red;
    border-radius: 20px;
    float: right;
    justify-content: end;
    position: relative;
    margin-top: 30px;
    margin-right: 70px;
}

.related-fashion h4
{
    font-size: 30px;
    padding-left: 51px;
    margin-right: 50px;
    margin-top: 15px;
}

.related-fashion a
{
    padding-left: 10px;
    padding-right: 10px;
}


.nav-header
{
    display: flex;
    padding-left: 150px;
    gap: 30px;
}
.related-fashion a
{
    width: 5px;

}
.art-1 img
{
    padding-left: 40px;
}
.body-part
{
    color: antiquewhite;
}
.content img
{
    padding-left: 60px;
    margin-top: 30px;
}